spring.datasource.url=jdbc:mysql://localhost:3306/veritabani_adi
spring.datasource.username=Enter your username here.
spring.datasource.password=Enter the password here.
spring.jpa.hibernate.ddl-auto=update

jwt.secret.key=JWT KEY here
jwt.expiration=EXPİRATION time

jwt.refresh.token.expired=EXPİRATION time for refreshtoken


evds.key=Key for Turkey for currency withdrawal
